<!-- /src/views/index.handlebars -->
<div class="d-flex vh-100 justify-content-center align-items-center bg-white">
  <div class="text-center px-4">
    <h1 class="mb-4 fw-bold">Bienvenido al Sistema</h1>

    <div class="d-grid gap-3">
      <a href="/views/register" class="btn btn-outline-secondary btn-lg">Registrarse</a>
      <a href="/views/login" class="btn btn-primary btn-lg">Iniciar Sesión</a>
      <a href="/views/profile" class="btn btn-outline-dark btn-lg">Ir al Perfil</a>
      <button onclick="verProductos()" class="btn btn-outline-dark btn-lg">Ver Productos</button>

    </div>
  </div>
</div>

<script src="/js/products.js"></script>
